.tableRow {
  display: flex;
  width: 100%;
}

.tableRowTime {
  display: flex;
  align-items: center;
  min-width: 100px;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--base-color);
}

.tableRowComment {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid var(--base-color);
}

.tableRowComment > p {
  max-width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.tableRowComment > p:not(:first-of-type) {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tableRowComment > p {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .tableRowComment > p {
    max-width: 100%;
  }

  .tableRowComment > p:not(:first-of-type) {
    display: block;
  }
}
