.tableRow {
  display: flex;
  width: 100%;
}

.tableRow > p {
  overflow: hidden;
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--base-color);
}

.tableRowTime {
  display: flex;
  align-items: center;
  min-width: 100px;
  justify-content: center;
}

.tableRowComment {
  width: 100%;
}

.tableRowComment > p:not(:first-child) {
  display: none;
}

.viewMore {
  color: blue;
  cursor: pointer;
}
