.nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav > li {
  margin-right: 10px;
}

.navItem {
  color: var(--base-color);
}

.navItemActive {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
