.tableHeadersWrap,
.tableRowTime,
.tableRowDomain {
  display: none;
}

.tableRow > p,
.tableRow > h2 {
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--base-color);
}

.tableRowTitle {
  display: block;
}

.sortByTimeBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  background-color: var(--main-color);
  color: white;
  border: transparent;
  border-radius: 20px;
  transform: scale(1);
}

.sortByTimeBtn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .tableHeadersWrap {
    display: flex;
    background-color: var(--main-color);
  }

  .tableHeadersWrap > div {
    padding: 10px;
    border: 1px solid var(--base-color);
  }

  .tableRow {
    display: flex;
  }

  .tableRowTime {
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: center;
  }

  .tableRowTitle {
    width: 100%;
  }

  .tableRowDomain {
    display: flex;
    width: 100%;
  }

  .tableSortBtn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
  }

  .tableSortBtn:hover,
  .tableSortBtn:focus {
    color: white;
  }

  .sortByTimeBtn {
    display: none;
  }
}
